@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
body{
    background-color:#91A3B0;
}
.card-body{
    background-color: #E5E5E5;
}
.btn{
    background-color: #91A3B0;
}
.navbar{
    background-color: #8A7F8D;
}
h4{
    font-family: 'Permanent Marker', cursive;
    color: #8A7F8D;
}
h5{
    color: rgb(94, 94, 94);
}


